modules = ["python-3.11", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["cairo", "ffmpeg-full", "freetype", "ghostscript", "gobject-introspection", "gtk3", "pkg-config", "qhull", "tcl", "tk"]

[workflows]

[deployment]
deploymentTarget = "gce"
run = ["python", "scheduler.py"]
ignorePorts = true
